:host {
  display: block;
  height: 100%;
}

ion-content {
  --background: url('/assets/images/fondo-login.png') no-repeat center center fixed;
  --background-size: cover;
  padding: 16px;
}

/* Parte scrollable del contenido centrada */
ion-content::part(scroll) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-card {
  background: rgba(255, 255, 255, 0.9); // blanco semitransparente
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
}

ion-card-title,
ion-card-subtitle {
  text-align: center;
}

ion-button,
button {
  margin-top: 15px;
}
